.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container-fluid;
    padding: $grid-unit;
    margin-bottom: $grid-unit*5;
    /*grid-area: header*/
    }