.intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: 'content image' 'content image';
  grid-gap: $grid-unit*5;
  margin-bottom: $grid-unit*5;

  &Wrapper {
    @include container-fluid;
  }

  &Content {
    grid-area: content;
  }

  &Img {
    grid-area: image;
  }

}